In [2]:
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
colnames<- c("age", "work_class", "fnlwgt", "education_level", "year_of_education","marital_status", 
             "occupation", "relationship_status", "race","gender","capital_gain", "capital_loss", 
             "working_hours(/wk)", "native_country", "income")

income_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", 
                        col_names = colnames)

head(income_data)

Rows: 32561 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): work_class, education_level, marital_status, occupation, relationsh...
dbl (6): age, fnlwgt, year_of_education, capital_gain, capital_loss, working...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age work_class       fnlwgt education_level year_of_education
1 39  State-gov         77516 Bachelors       13
2 50  Self-emp-not-inc  83311 Bachelors       13
3 38  Private          215646 HS-grad          9
4 53  Private          234721 11th             7
5 28  Private          338409 Bachelors       13
6 37  Private          284582 Masters         14
  marital_status     occupation        relationship_status race  gender
1 Never-married      Adm-clerical      Not-in-family       White Male
2 Married-civ-spouse Exec-managerial   Husband             White Male
3 Divorced           Handlers-cleaners Not-in-family       White Male
4 Married-civ-spouse Handlers-cleaners Husband             Black Male
5 Married-civ-spouse Prof-specialty    Wife                Black Female
6 Married-civ-spouse Exec-managerial   Wife                White Female
  capital_gain capital_loss working_hours(/wk) native_country income
1 2174         0            40                 United-States  <=50K
2    0         0            13                 United-States  <=50K
3    0         0            40                 United-States  <=50K
4    0         0            40                 United-States  <=50K
5    0         0            40                 Cuba           <=50K
6    0         0            40                 United-States  <=50K

In [4]:
income_data <- income_data |>
            filter(native_country == "United-States")

x <- income_data |>
    group_by(occupation,gender) |>
    summarise(n=n())
x

`summarise()` has grouped output by 'occupation'. You can override using the
`.groups` argument.

   occupation        gender n
1  ?                 Female  750
2  ?                 Male    916
3  Adm-clerical      Female 2346
4  Adm-clerical      Male   1103
5  Armed-Forces      Male      9
6  Craft-repair      Female  196
7  Craft-repair      Male   3489
8  Exec-managerial   Female 1070
9  Exec-managerial   Male   2665
10 Farming-fishing   Female   59
11 Farming-fishing   Male    820
12 Handlers-cleaners Female  144
13 Handlers-cleaners Male   1045
14 Machine-op-inspct Female  439
15 Machine-op-inspct Male   1248
16 Other-service     Female 1573
17 Other-service     Male   1204
18 Priv-house-serv   Female   83
19 Priv-house-serv   Male      7
20 Prof-specialty    Female 1380
21 Prof-specialty    Male   2313
22 Protective-serv   Female   71
23 Protective-serv   Male    535
24 Sales             Female 1168
25 Sales             Male   2196
26 Tech-support      Female  318
27 Tech-support      Male    532
28 Transport-moving  Female   85
29 Transport-moving  Male   1406

In [5]:
income_data <- income_data